* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainpage { 
    width: 100%;
    height: 100vh;
    background-color: #FDFCEF; 

    /*justify-content: space-around; /* Горизонталь */
    /*align-items: center;     /* Вертикаль */
       
    display: grid;
    grid-template-columns: 40% 60%;
}

.textmenu {
    display: flex;
    justify-content: center; /* Горизонталь */
    align-items: center;  /* Вертикаль */
}

.stats {
    display: flex;
    justify-content: center; /* Горизонталь */
    align-items: center;  /* Вертикаль */
}


.container {
    display: grid;
    grid-template-columns: repeat(var(--weeksInYear), auto);
    grid-template-rows: repeat(var(--expectedYears), auto);
    column-gap: 2.3px;
    row-gap: 2px;
}

.classtest {
    display: flex;
    justify-content: center; /* Горизонталь 
    align-items: center;     /* Вертикаль */

    width: 10px;
    height: 10px;

    background-color: white;

    border: 1px solid;
    border-radius: 2px;
    border-color: #A1A1A1;

    font-size: 5px;
}

.number {
    font-size: 7px;
    justify-content: center; /* Горизонталь 
    /*align-items: center;     /* Вертикаль */
}

.filled {
    background-color: #7D7D7C;
}

.display-none {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}